<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head') %> 
    <title>Online Shopper</title>
    <style>
        
    </style>
    </head>
    <body>
    <% include ../partials/nav %> 
    <div id="container" class="fluid">
      <main role="main">
        <% include ../partials/jumbotron %> 
        <div class="container">
            <div class="row"></div>
        <% cards.forEach (({img, title, text}, idx) =>{%>
          <li><%= idx+1 %>.<%= img %>, <%= title %>, <%= text %>  </li>
        <%})%> 
        </div>
      </main>
    </div>
   <% include ../partials/footer %> 
<% include ../partials/scripts %> 
  </body>
</html>